.top-menu {
  background: rgba(255,255,255,.5);
  box-shadow: 3px 0 7px rgba(0,0,0,.3);
  padding: 20px;
  
}

.top-menu:after {
  content: "";
  display: table;
  clear: both;
}
.navbar-logo {display: inline-block;}
.menu-main {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
.menu-main li {display: inline-block;}
.menu-main a {
  text-decoration: none;
  display: block;
  position: relative;
  line-height: 60px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: bold;
  color: #2c719f;
  transition:.3s linear;
}
/* Красота для наэатия */

.menu-main a:hover,  .menu-main a.current {
    color: #ffffff;} 

    
.menu-main a:hover:before {opacity: 1;}
@media (max-width: 950px) {
  .menu-main {
    padding-top: 90px;
    text-align: center;
    float: none; 
  }
  .navbar-logo {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
  }
  .menu-main li {
    float: none;
    display: inline-block;
  }
  .menu-main a {
    line-height: normal;
    padding: 20px 15px;
    font-size: 16px;
  }
  }
  @media (max-width: 630px) {
  .menu-main li {display: block;}
  }


  .navbar-logo {
    position: absolute;
    top: 0%;
  }
  .menu-main a:hover {background: rgba(0,0,0,.3);}
 
  /* 
   */


   * {
    box-sizing: border-box;
    margin: 0;
}
body {
    color: #606060;
    font-size: 14px;
}
.container {
    max-width: 960px;
    margin: 50px auto;
    padding: 0 15px;
    background: white;
}
.post {text-indent: 25px;
    padding: 2em 0 1em;
}
.post-image img {
    width: 100%;
    margin: 0 0 20px 0;
}
.post h1 {
  color: #235b80;
    font-weight: 500;
     margin-bottom: 30px;
}
.post-header {
    text-align: center;
}
.post-meta {
    margin-bottom: 30px;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-size: .8em;
}
.post-meta:before {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 2px;
    background: #2c719f;
}
time,
.author {color: #2c719f;
    padding-right: 26px;
    position: relative;
}
time:after,
.author:after {
    content: "/";
    color: #d8e6f0;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
p {
    line-height: 1.5;
    margin-bottom: 1em;
    text-align: justify;
}
@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
    .container {
        padding: 0 45px;
    }
    .post-image img {
        float: left;
        width: 300px;
        margin: 0 30px 20px -45px;
        border: 10px solid #d8e6f0;
        border-left-width: 0;
    }
}